body {
    background-color: #1E1E1E;
    font-family: Helvetica, sans-serif;
    color: #ffffff;
}


.nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}

.nav-bar-right {
    display: flex;
    flex-direction: row;
    margin-right: 94px;
}

.nav-bar-right h2 {
    font-size: 24px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-nav {
    display: flex;

}

.favorites-nav {
    display: flex;
    padding-right: 20px;
}

.no-underline {
    text-decoration: none;
    color: white;
}

.record-div {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin-top: 100px;

}

.record-div-left {
    display: flex;
    flex-direction: column;    
}

.record-div-right {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    margin-top: -25px;

}

.record-div-right p {
    font-size: 1.5rem;
    margin-bottom: -1px;
}

.record-main-img {
    height: 256px;
    width: 256px;
}

.favorites-button {
    padding: 10px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    border-width: 0;
    font-size: 16px;
    margin-top: 40px;
    width: 190px;
}

.favorites-button:hover {
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

.tracklist-div {
    display: flex;
    flex-direction: column;
}

#tracklist-header {
    font-size: 24px;
}


.tracklist-div-row {
    display: flex;
    flex-direction: row;
    margin-bottom: -25px;
}

.tracklist-div-left {
    display: flex;
    width: 225px;
}

.tracklist-div-right {
    display: flex;
}

.tracklist-line {
    width: 250px;
    border-top: 1px solid #4d4a4aa1;
    margin-top: -10px;
}

.reviews-line {
    border-top: 1px solid #4d4a4aa1;
    margin-top: 15px;
    width: 500px;

}

#review-header {
    font-size: 24px;
}

.reviews-div {
    margin-top: 15px;
}

.ratings-div {
    align-self: center;
    margin-top: 20px;
}

.star-div {
    margin-right: 10px;
    height: 20px;
}

.record-cards-div {
    display: flex;
    margin-top: 68px;
    flex-direction: column;
    margin-bottom: -60px;
}

.record-cards-div h2 {
    font-size: 2rem;
}
.record-card {
    display: flex;
    flex-basis: 31.33%;
    margin: 10px 10px 100px 0;
}

.record-cards {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}

.record-card-img {
    height: 256px;
    width: 256px;

}

.record-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.record-card-title {
    margin-bottom: 10px;
}


.search-bar {
    border-radius: 20px;
    background-color: #6a6a6a;
    width: 200px;
    padding: 10px;
    border-width: 0;
    outline: none;
    color: white;
}


.record-card-year {
    margin-bottom: 10px
}

.search-button {
    display: none;
}

.search-cards-div {
    display: flex;
    margin-top: 68px;
    flex-direction: column;
}

.search-cards-div h2 {
    font-size: 2rem;
    margin-left: 5px;
}

.search-cards-container {
    width: 1000px;
    margin-bottom: 50px;
}